.sidebar {
  background-color: white;
  color: black;
  width: 250px;
  height: 100%;
  padding: 10px;
  position: fixed;
  text-align: left;
  font-size: small;
}

.sidebar a {
  text-decoration: none;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}



.sidebar.pcoded-micon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4680ff;
  color: white;
  text-align: center;
  line-height: 30px;
  margin-right: 10px;
}

.sidebar.pcoded-mtext {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
}

.sidebar.pcoded-mcaret {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #4680ff;
  margin-left: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  text-decoration: none;
}


a {

  color: #ecf0f1;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}



.pcoded-micon {
  margin-right: 10px;
  color: white;
  background-size: 10px;

}

.pcoded-mtext {
  color: black;
  align-items: flex-start;
  text-decoration: none;
  opacity: 1;
  visibility: visible;
  font-weight: bold;
    
}

.pcoded-mcaret {
  float: right;
  margin-right: 10px;
}

.fullScreen {
  display: flex;
  margin: -20px;
  border: 2px solid;
  border-radius: 50%;
  padding: 5px;
  color: black;

}

.sidebar a {
  text-decoration: none;
}